@import "tailwindcss";

@font-face {
  font-family: "InterTightSemiBold";
  src: url("fonts/InterTightSemiBold.woff2") format("woff2");
}

@theme {
  --color-primary: #ee6f4b;
  --color-muted: #424153;
  --color-light-gray: #f8f8f8;
}

@layer components {
  .foods {
    @apply max-w-60;
  }
  .muted {
    @apply text-muted;
  }
  .details-text {
    @apply text-muted dark:text-amber-100;
  }
  .dog1 {
    @apply h-full w-full rounded-[10px];
  }
}

:root {
  font-family: "InterTightSemiBold", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
}
.payment {
  width: 39.2px;
  height: 24px;
}

.right {
  clip-path: inset(0 0 0 50%);
}

.left {
  clip-path: inset(0 50% 0 0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
